<html ng-app="countriesApp">
  <head>
    <title>Hydrane AngularJS Frontend Dev CS</title>

    <script src="http://code.highcharts.com/highcharts.js"></script>

    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-resource.js"></script>
    <script src="scripts/highcharts-ng.min.js"></script>

    <script src="scripts/app.js"></script>
  </head>

  <body ng-controller="CountriesController">
    <h1>Hydrane AngularJS Frontend Dev CS</h1>

    <select
      ng-options="option for option in continentNames"
      ng-model="selectedContinent"
      ng-change="filterCountries()"
    ></select>

    <select
      ng-options="option for option in metrics"
      ng-model="selectedMetric"
    ></select>

    <select
      ng-options="option for option in chartMaxResults"
      ng-model="selectedMaxResults"
      ng-change="changeMaxResults()"
    ></select>

    <highchart
      ng-show="shouldShowColumn('areaInSqKm')"
      config="buildChartConfig('areaInSqKm')"
    ></highchart>

    <highchart
      ng-show="shouldShowColumn('population')"
      config="buildChartConfig('population')"
    ></highchart>

    <table>
      <thead>
        <th>continentName</th>
        <th>countryName</th>
        <th ng-show="shouldShowColumn('areaInSqKm')">areaInSqKm</th>
        <th ng-show="shouldShowColumn('population')">population</th>
      </thead>
      <tbody>
        <tr ng-repeat="country in filteredCountries">
          <td>{{country.continentName}}</td>
          <td>{{country.countryName}}</td>
          <td ng-show="shouldShowColumn('areaInSqKm')">
            {{country.areaInSqKm}}
          </td>
          <td ng-show="shouldShowColumn('population')">
            {{country.population}}
          </td>
        </tr>
        <tr>
          <td></td>
          <td>TOTAL</td>
          <td ng-show="shouldShowColumn('areaInSqKm')">
            {{totalAreaInSqKm()}}
          </td>
          <td ng-show="shouldShowColumn('population')">
            {{totalPopulation()}}
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
